@import "Colors";

scrollbar {
  position: absolute;
  
  top: 0;
  left: 600px;
  height: 200px;
  width: 2px;
  
  margin-left: -10px;
  margin-top: 150px;
  margin-bottom: 150px;
}

scrollhandle {
  top: 0;
  right: 0;
  left: 0;

  height: 100px;
  background-color: $gray-800;
  position: absolute;
}