@import "Colors";

slider {
  width: 80%;
  height: 50px;

  cursor: pointer;
}

.line {
  height: 2px;
  width: 100%;
  background-color: $gray-700;
  margin-top: 25px;
}

label {
  padding: 10px;
  width: 100px;
  text-align: center;
  align-items: center;
}

.needle {
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  
  position: absolute;
  top: 15px;

  margin-left: -8px;
  
  cursor: pointer;
  
  background-color: $gray-700;
  
  transition: background-color 100ms ease;

  &:active {
    sound-in: ui.button.press;
  }
  
  &:hover {
    background-color: $accent;
  }
}