$gray-50: #8ABDFF;
$gray-100: #7AB4FF;
$gray-200: #5CA3FF;
$gray-300: #3D91FF;
$gray-400: #1F80FF;
$gray-500: #006EFF;
$gray-600: #005BD1;
$gray-700: #0047A3;
$gray-800: #003375;
$gray-900: #001F47;
$gray-deep: #000914;

$accent: #D7FF2E;
$accent-text: black;
$accent-text-hack-amt: 0.1px;
$accent-text-hack: 0.1px 0.1px 0px black, -0.1px 0.1px 0px black, 0.1px -0.1px 0px black, -0.1px -0.1px 0px black;