@import "Colors";

:not() { // why
    flex-shrink: 0;
}

.menu-items {
    height: 100%;
    justify-content: flex-start;

    button {
        padding: 25px 50px;
        margin-left: 0;
        margin-right: 0;
    }

    position: relative;

    span {
        height: 75px;
        top: -75px;
        left: -50px;
    }
}